block content
  head
    link(rel="stylesheet", href="/css/style.css")
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js')
    script(src='https://www.paypal.com/sdk/js?client-id=AVDn0zM75RGU80cgKLF3P9vmkT7t3cc_N2k5u-pzfBCPWVDYlwF7c2sK_TIQkf5vhBBg7yD1-7E4avAf>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


    nav.navbar.navbar-expand-custom.navbar-mainbg
      a.navbar-brand.navbar-logo(href='/') 
      button.navbar-toggler(type='button' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.fas.fa-bars.text-white
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          .hori-selector
            .left
            .right
    
          li.nav-item
            a.nav-link(href='/')
              i.far.fa-chart-bar
              | Home
          li.nav-item
            a.nav-link(href='/products')
              i.far.fa-calendar-alt
              | Buy
          li.nav-item
            a.nav-link(href='/users/profile')
              i.far.fa-user
              | Profile
    
    .container
        h2 Terms of Services

        b    By using our website, you agree to the following terms and conditions:
        hr
        p    You agree to provide accurate and complete information when making a purchase or creating an account on our website.
        p    You agree to pay for all products and services ordered on our website.
        p    You agree to pay any applicable taxes and fees associated with your purchase.
        p    You agree to not use our website for any fraudulent or illegal activity.
        p    You acknowledge that we reserve the right to cancel any order or account at any time for any reason.
        p    You acknowledge that we are not responsible for any errors or omissions on our website or for any damages or loss resulting from your use of our website.
        p    We reserve the right to update these terms and conditions at any time without notice. It is your responsibility to review these terms and conditions regularly. Your continued use of our website constitutes your acceptance of any updates or changes to these terms and conditions.
    
    .container
        h2 Kushtet e Shërbimeve
        
        b    Duke përdorur faqen tonë të internetit, ju pajtoheni me kushtet e mëposhtme:
        hr
        p   pajtoheni të jepni informacione të sakta dhe të plotë kur bëni një blerje ose krijoni një llogari në faqen tonë të internetit.
        p   pajtoheni të paguani për të gjitha produktet dhe shërbimet e porositura në faqen tonë të internetit.
        p   pajtoheni të paguani të gjitha taksat dhe tarifat e ndërlidhura me blerjen tuaj.
        p   pajtoheni të mos përdorni faqen tonë të internetit për çfarëdo aktiviteti të paligjshëm ose të ndërgjegjshëm.
        p   pranoni se ne mbajmë të drejtën të anulojmë çdo porosi ose llogari në çdo kohë për çfarëdo arsye.
        p   pranoni se ne nuk jemi përgjegjës për asnjë gabim ose mungesë në faqen tonë të internetit ose për çfarëdo dëme ose humbje që rezultojnë nga përdorimi juaj i faqes sonë të internetit.
        p   mbajmë të drejtën të përditësojmë këto kushte dhe kushte në çdo kohë pa njoftim. Ju jeni përgjegjës për të rishikuar këto kushte dhe kushte rregullisht. Përdorimi juaj i vazhdueshëm i faqes sonë të internetit konsiston në pranimin tuaj të çdo përditësimi ose ndryshimi në këto kushte dhe kushte.
   
    .container
        h2 Услови на услуги
        
        b    Со користење на оваа веб-страница, се согласувате со следниве услови и ограничувања:
        hr
        p    Се согласувате да давате точни и потполни информации при направа на купување или креирање на сметка на нашата веб-страница.
        p    Се согласувате да платите за сите производи и услуги нарачани на нашата веб-страница.
        p    Се согласувате да платите сите даноци и тарифи поврзани со вашето купување.
        p    Се согласувате да не користите нашата веб-страница за било која фраудолна или незаконита активност.
        p    Прифаќате дека имаме право да откажеме било која нарачка или сметка во било кое време за било која причина.
        p    Прифаќате дека не сме одговор
        p    Вие признавате дека ние не сме одговорни за какви било грешки или пропусти на нашата веб-локација или за каква било штета или загуба што произлегува од вашата употреба на нашата веб-локација.
        p    Го задржуваме правото да ги ажурираме овие услови во секое време без претходна најава. Ваша одговорност е редовно да ги прегледувате овие услови. Вашето континуирано користење на нашата веб-локација претставува прифаќање на какви било ажурирања или промени на овие одредби и услови.